<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="container">
    @RenderBody()
</div>

<script src="~/js/site.js"></script>

@RenderSection("Scripts", required: false) <!-- Viktigt -->
</body>
</html>