@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>

<div class="home-search">
    <h1>Välkommen till<br/>HV-Bibliotekt</h1>
    <input type="text" class="search-box" placeholder="Sök efter böcker..."/>
</div>