@model List<LibrarySystem_T4.Models.LoanViewModel>

@{
    ViewData["Title"] = "Alla lån";
}

<style>
    body {
        
    }

   
</style>

<div class="loans-container">
    <h1>Alla lån</h1>

    
    </div>

               
        }
    }

    <a asp-action="Create" class="btn-create">+ Skapa nytt lån</a>