<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - HV Bibliotek</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
</head>
<body>
<header> <!-- I header ligger navigeringsfältet som har länk till böckerna, lån och kategorier  -->
    <nav class="navbar navbar-expand-sm"> 
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center flex-grow-1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Items" asp-action="Index">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Loans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Categories</a>
                    </li>
                </ul>
            </div>
            <span class="logga-ut">Logga ut</span>
        </div>
    </nav>
</header>

<main role="main">
    @RenderBody()
</main>

<footer> <!-- I footer ligger en container som visar copyright till företaget  -->
    <div class="container">
        &copy; 2026 HV Bibliotek. All rights reserved.
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>